<html>

<head>
    <title>Weather</title>
    <link rel="icon" href="/img/cloud_sun.png">
    <link rel="stylesheet" href="/css/styel.css">

</head>

<body>
    <div class="main-content">
        {{>header}}
        <form action="">
            <input type="text" placeholder="location">
            <button>search</button>
        </form>

        <p id="message-1"></p>
        <p id="message-2"></p>

    </div>

    {{>footer}}


    <script src="/js/app.js"></script>


</body>

</html>